<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Go Products</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container">
        <a class="navbar-brand text-light text-xxl" href="#">Go Products</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-light text-xl" href="/products"
                >Products</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-light text-xl" href="/categories"
                >Categories</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end of navbar -->
    <div class="container mt-3">
      <div class="row d-flex justify-content-center">
        <h2>Update Products</h2>
        <hr />

        <form action="/products/update" method="post">
          <input type="hidden" name="id" value="{{ .product.Id }}" />
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              value="{{ .product.Name }}"
              autocomplete="off"
            />
          </div>
          <div class="mb-3">
            <select name="category_id" class="form-select">
              {{ range .categories }}
              <option value="{{ .Id }}">{{.Name}}</option>
              {{ end }}
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Stock</label>
            <input
              type="number"
              class="form-control"
              name="stock"
              value="{{ .product.Stock }}"
              autocomplete="off"
            />
          </div>
          <div class="form-floating">
            <textarea class="form-control" name="description">
 {{ .product.Description }} </textarea
            >
            <label for="floatingTextarea">Descriptions</label>
          </div>
          <div class="float-end mt-3">
            <a href="/products" class="btn btn-primary">Back</a>
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
